<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<asig>
  <signals>
    <signal waveform="sine" frequency="200" name="S1" amplitude="80" mute="false" type="signal"/>
    <signal waveform="square" frequency="400" name="S2" amplitude="40" mute="false" type="signal"/>
    <signal waveform="triangle" frequency="800" name="S3" amplitude="20" mute="false" type="signal"/>
    <signal waveform="sawtooth" frequency="1600" name="S4" amplitude="10" mute="false" type="signal"/>
    <signal name="N1" type="noise" noiseform="impulse" amplitude="5" mute="true"/>
  </signals>
  <sinks>
    <rawfile type="filesink" filename="/home/frank/sample.raw"/>
    <wavefile type="wavesink" filename="/home/frank/sample.wav"/>
    <udp host="LOKI" type="udpsink" port="9966"/>
  </sinks>
</asig>
